.validation-gem-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.validation-gem-list-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.validation-gem-list-table {
  width: 100%;
  border-collapse: collapse;
}

.validation-gem-list-header {
  background-color: #26ab3c;
  color: white;
}

.validation-gem-list-header-cell {
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

.validation-gem-list-body {
  background-color: #ffffff;
}

.validation-gem-list-row {
  border-bottom: 1px solid #ddd;
}

.validation-gem-list-cell {
  padding: 12px;
  text-align: left;
  color: #555;
}

.validation-gem-list-cell:nth-child(even) {
  background-color: #f2f2f2;
}

.validation-gem-list-link {
  margin-right: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color:#26ab3c ;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.validation-gem-list-link:hover {
  background-color: #007BFF;
  color: white;
}

.validation-gem-list-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.validation-gem-list-button:hover {
  background-color: #c82333;
}

.validation-gem-list-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.validation-gem-list-add-link,
.validation-gem-list-show-link {
  text-decoration: none;
  color: #007BFF;
  padding: 10px 15px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.validation-gem-list-add-link:hover,
.validation-gem-list-show-link:hover {
  background-color: #007BFF;
  color: white;
}
.validation-gem-list-search {
  margin-bottom: 20px;
  width: 240px;
  margin-left: 470px;
  text-align: right;
}

.validation-gem-list-search-input {
  padding: 8px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

