.list{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*3 cols with equel width*/
    grid-gap: 10px;
}

.show_GemCutList{
    padding: 10px;
}
/* GemCutList.css */
.show_GemCutList {
    padding: 10px; /* Add some padding around the list */
    min-height: 50vh;
}

.search-container {
    margin-top: auto;
    text-align: center;
    position: relative;
}

.search-input {
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Add padding for better appearance */
    font-size: 16px; /* Font size */
    border: 1px solid #ddd; /* Border color */
    border-radius: 20px; /* Rounded corners */
    outline: none; /* Remove outline on focus */
}

.search-input:focus {
    border-color: hsl(146, 40%, 41%); /* Change border color on focus */
    box-shadow: 0 0 5px rgba(62, 146, 99, 0.5); /* Optional shadow */
}

.no-gems-found {
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    color: #3e9263; /* Change color to red */
    margin: 50px; /* Add some space around the message */
    text-align: center; /* Center the text */
    position: absolute; /* Position it absolutely */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    text-shadow: 0 0 5px #00ff6e, /* Glowing effect */
                 0 0 10px #00b54f,
                 0 0 15px #007834;
}