/* Card container */
.Cut-card {
  max-width: 300px;
  margin:auto; /* Adjust the top margin to be larger than the navbar height */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  font-family: 'Arial', sans-serif;

}
.content-container {
  flex-grow: 1; /* Ensures the content takes remaining height */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  padding-top: 100px; /* Adjusts for navbar height */
}


/* Image */
.Cut-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Product title */
.Cut-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #417558;
  padding: 10px;
  margin: 0;
}
.Cut-card-description {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  margin: 0;
}



/* Button */
.Cut-Update {
  background-color: #3E9263;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}
.link{
  text-decoration: none;
  color: white;
}

.Cut-Update:hover {
  background-color: #1fad5b;
}

.Cut-Delete {
  background-color: #923e3e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.Cut-Delete:hover {
  background-color: #ad1f1f;
}
