.Mcontain {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* General Styling for the Container */
.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Link Styling */
/* a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #3E9263;
    font-weight: bold;
    font-size: 16px;
} */

a:hover {
    color: #2b6d46;
    text-decoration: underline;
}

/* Form Styling */
.form {
    display: flex;
    flex-direction: column;
}

/* Label Styling */
.form-label {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    margin-top: 12px;
}

/* Input Field Styling */
.form-input {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Focus State for Inputs */
.form-input:focus {
    border-color: #3E9263;
    outline: none;
}

/* Button Styling */
.form-button {
    padding: 10px 20px;
    background-color: #3E9263;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover Effect for Button */
.form-button:hover {
    background-color: #2b6d46;
}

/* Simple button-like styling for the link */
.simple-button-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;  /* Green background */
    color: white;               /* White text */
    font-size: 16px;
    text-decoration: none;       /* Remove underline */
    border-radius: 4px;          /* Rounded corners */
    text-align: center;          /* Center the text */
    cursor: pointer;             /* Pointer on hover */
    transition: background-color 0.3s ease;  /* Smooth hover effect */
}

/* Hover effect */
.simple-button-link:hover {
    background-color: #45a049;   /* Darker green on hover */
}

.cont {
    padding: 20px;
}