.mcontainer {
    padding-left: 15%;
    padding-right: 15%;
}

.mcontainer .container {
    background-color: rgb(218, 218, 218);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mcontainer .container .imgcon .img {
    width: 100px;
}

.mcontainer .container .containerButton {
    flex-direction: column;
    align-items: center;
}

.mcontainer .container .containerButton .btn {
    width: 200px;
    background-color: #638763;
    border-radius: 25px;
    color: white;
    margin-top: 8px;
}

.mcontainer .container .containerButton .btn:hover {
    background-color: #518e51;
    color: white;
}