/* Container styling */
.Mcontain_UC101 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form container styling */
.form-container_UC101 {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: 30px 0;
}

/* Title styling */
.loginh1_UC101 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

/* Label styling */
.form-label_UC101 {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

/* Input field styling */
.form-input_UC101 {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Button styling */
.form-button_UC101 {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.form-button_UC101:hover {
    background-color: #45a049;
}

/* Link styling */
.Haccount_UC101 {
    display: block;
    margin-top: 1rem;
    color: #4CAF50;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
}

.Haccount_UC101:hover {
    text-decoration: underline;
}

/* Error message styling */
.error-message_UC101 {
    color: #fff; /* White text for contrast */
    font-size: 16px; /* Slightly larger font size */
    margin-top: 5px; /* Add some spacing */
    background: linear-gradient(135deg, #f27c85, #ec727e); /* Gradient background */
    border: 1px solid #f5c6cb; /* Border matching the gradient */
    border-radius: 8px; /* More rounded corners */
    padding: 12px; /* Padding for better spacing */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Drop shadow for depth */
    animation: bounceIn 0.5s ease; /* Bounce-in animation */
    opacity: 1; /* Ensure it's fully visible */
}

/* Toggle password visibility styling */
.toggle-password_UC101 {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

/* Animation for the error message */
@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    50% {
      opacity: 1;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}